.main-header {
  height: 100px;
  background-color: rgb(114, 61, 0);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1em;
}
.main-header .header-logo{
  width: 300px;
}
.main-header .header-logo img{
  width: 100%;
}
.main-header .header-btns-continer{
  
}

.main-header form{
  display: flex;
}
.main-header .btn-header-location{
  height: 40px;
  width:100px ;
  font-weight: 600;
  margin-left: 2em;
  background-color: rgb(32, 32, 32);
  color: #fff;
  cursor: pointer;
}

.main-header form .input-btn{
  cursor: pointer;
  width: 40px;
}
.main-header form .input-btn:hover{
  background-color: rgb(209, 209, 209);
}
.main-header form input{
  height: 40px;
}
form .input-btn img{
  width: 100%;
}