/* locs
card
card-info
btns-card
btn-go-card
btn-delete-card */

.locs{
  width: 300px;
}
.locations-title{
  font-size: 1.4em;
  font-weight: 600;
}

.card{
  background-color: rgb(243, 174, 84);
  padding: 10px;
  border: 1px solid black;
  border-radius: 1em;
  width: 300px;
  margin-bottom: 1em;
  
}

.card p{
  padding: 5px;
  margin: 0;
}
.card .card-title{
  font-weight: 600;
}

.btns-card{
  align-items: end;
}
.card .btn-go-card{
  margin-bottom: 5px;
}
.card .btn-go-card,.btn-delete-card{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 500ms;
  cursor: pointer;
}
.card .btn-go-card:hover{
  background-color: rgb(243, 205, 155);
}
.card .btn-delete-card:hover{
  background-color: rgb(243, 205, 155);
}
.card .btns-card img{
  width: 100%;
}